@charset "UTF-8";

* {
    /* height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: justify;
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #61751d86;
}
body{
    background-image: linear-gradient(to right,#b2d836,#DBF227) ;
}

h1{
    color: #005C53;
    text-align: center;
    text-shadow: 1px 1px 2px #005850b2 ;
} 
h2{
    color: #797721;
    background-color: #e6e33e;
    padding: 4px;
    border-radius: 20px;

}